:root {
  --main-bg-color: #f5f5f5;
  --main-color: #333;

  font-family: Arial, sans-serif;
  font-size: 12pt;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}